{% assign ss = section.settings %}

<div class="botm__container {{ ss.class }}">
    <div class="botm__card wrapper">
        <div class="botm__card-title">
            {% if ss.title != blank %}
              <h4>Brand of the month</h4>
              <h3>{{ ss.title }}</h3>
            {% endif %}
            {% if ss.text != blank %}
                {{ ss.text }}
            {% endif %}
            {% if ss.button_text != blank %}
                <a target="_blank" href="{{ ss.button_link }}" class="btn liquid-button">{{ ss.button_text }}</a>
            {%- endif -%}
            {% if ss.button_text2 != blank %}
                <br>
                <a target="_blank" href="{{ ss.button_link2 }}" class="btn">{{ ss.button_text2 }}</a>
            {%- endif -%}
        </div>
        {% if ss.logo != blank %}
        <div>
            {% render 'image-element', image: ss.logo, image_mobile: ss.logo, size: '1200x', extra_class: 'object-fit--contain'%}
        </div>
        {% endif %}
    </div>
</div>

{% style %}
    #shopify-section-{{ section.id }}.botm {
        padding-top: {{ ss.padding_top }}px;
        padding-bottom: {{ ss.padding_bottom }}px;
    }

    @media screen and (max-width: 750px) {
        #shopify-section-{{ section.id }}.botm {
            padding-top: {{ ss.padding_top_tablet }}px;
            padding-bottom: {{ ss.padding_bottom_tablet }}px;
        }
    }
    .botm__card {
      border: 1px solid #000;
      border-radius: 4px;
      padding: 40px;
      display: grid;
      grid-template-columns: repeat(2, 2fr);
    }
    .botm__card .image-element-wrapper {
      border-radius: 4px;
    }
    .botm__card-title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 40px;
    }
    .botm__card-title h4 {
      font-size: 24px;
      letter-spacing: -0.5px;
      text-decoration-line: underline;
    }
    .botm__card-title h3 {
      font-size: 60px;
      letter-spacing: -0.5px;
    }
    .botm__card-title p {
      font-size: 24px;
      letter-spacing: -0.5px;
    }
    .botm__card-title .liquid-button {
      padding-left: 40px;
      padding-right: 40px;
      width: fit-content;
    }
    @media screen and (max-width: 1480px) {
      .botm__card-title p {
        font-size: 20px;
      }
    }
    @media screen and (max-width: 750px) {
      .botm__container {
        margin: 0 16px;
      } 
      .botm__card {
        padding: 20px;
        display: block;
      }
      .botm__card-title h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      .botm__card-title h3 {
        font-size: 32px;
        margin-bottom: 20px;
      }
      .botm__card-title p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .botm__card-title .liquid-button {
        margin-bottom: 20px;
      }
    }
{% endstyle %}

{% schema %}
    {
        "name": "BB - Brand of the month",
        "tag": "section",
        "class": "botm",
        "settings": [
            {
                "type": "header",
                "content": "Contact banner"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "Background Image Mobile"
            },
            {
                "type": "text",
                "id": "class",
                "label": "Custom Class"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Content"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            },
            {
                "type": "text",
                "id": "button_text2",
                "label": "Button Text"
            },
            {
                "type": "url",
                "id": "button_link2",
                "label": "Button Link"
            },
            {
                "type": "header",
                "content": "Paddings - Desktop"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Padding top",
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 5,
                "default": 80
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Padding bottom",
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 5,
                "default": 80
            },
            {
                "type": "header",
                "content": "Paddings - Tablet"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "Padding top",
                "unit": "px",
                "min": 0,
                "max": 60,
                "step": 5,
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "Padding bottom",
                "unit": "px",
                "min": 0,
                "max": 60,
                "step": 5,
                "default": 40
            }
        ],
        "presets": [
            {
                "name": "BB - Brand of the month"
            }
        ]
    }
{% endschema %}
