{% assign ss = section.settings %}

{% capture slider_settings %}
    {
      "enableWhen": "(max-width: 834px)",
      "slidesPerView": 1.9,
      "autoAdjustSlidesPerView": false,
      "loop": false,
      "spacing": 16
    }
{% endcapture %}

<div class="brands-featured__container" >
    <div class="brands-featured__header">
        {% if ss.title != blank %}
            <h1>{{ ss.title }}</h1>
        {%- endif -%}
        {% if ss.subtitle != blank %}
            <h3>{{ ss.subtitle |strip_html|escape }}</h3>
        {%- endif -%}
    </div>

    <div class="brands-featured__wrapper" data-keen-slider='{{ slider_settings }}'>
        {% for block in section.blocks %}
        {% assign bs = block.settings %}
            <a href="{{ bs.link }}">
                {% if bs.image != blank %}
                    {% render 'image-element', image: bs.image, image_mobile: ss.image_mobile, size: '400x', extra_class: 'object-fit--cover'%}      
                {%- endif -%}

                {% if bs.title != blank %}
                    <p>{{ bs.title }}</p>
                {%- endif -%}
            </a>
        {% endfor %}
    </div>
</div>

{% style %}
    #shopify-section-{{ section.id }}.brands-featured {
        padding-top: {{ ss.padding_top }}px;
        padding-bottom: {{ ss.padding_bottom }}px;
    }

    @media screen and (max-width: 750px) {
        #shopify-section-{{ section.id }}.brands-featured {
            padding-top: {{ ss.padding_top_tablet }}px;
            padding-bottom: {{ ss.padding_bottom_tablet }}px;
        }
    }
{% endstyle %}

{% schema %}
    {
        "name": "BB - Brands Featured",
        "tag": "section",
        "class": "brands-featured wrapper",
        "max_blocks": 4,
        "settings": [
            {
                "type": "header",
                "content": "Header"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "subtitle",
                "label": "Subtitle"
            },
            {
                "type": "header",
                "content": "Paddings - Desktop"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Padding top",
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 5,
                "default": 60
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Padding bottom",
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 5,
                "default": 40
            },
            {
                "type": "header",
                "content": "Paddings - Tablet"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "Padding top",
                "unit": "px",
                "min": 0,
                "max": 60,
                "step": 5,
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "Padding bottom",
                "unit": "px",
                "min": 0,
                "max": 60,
                "step": 5,
                "default": 30
            }
        ],
        "blocks":[
            {
                "name":"Brand",
                "type":"item",
                "settings":[
                    {
                        "type":"text",
                        "id":"title",
                        "label":"Title"
                    },
                    {
                        "type":"url",
                        "id":"link",
                        "label":"Link"
                    },
                    {
                        "type":"image_picker",
                        "id":"image",
                        "label":"Image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "BB - Brands Featured"
            }
        ]
    }
{% endschema %}
