{% assign ss = section.settings %}

<div class="team__container wrapper">
        {% for member in shop.metaobjects.team.values %}
            <div class="member">
                {% render 'image-element', image: member.image, image_mobile: member.image, size: '500x', extra_class: 'object-fit--cover'  %}                

                <h2>
                    {{ member.name }}
                </h2>

                <p>
                    {{ member.fun_fact }}
                </p>
            </div>
        {% endfor %}
</div>

{% style %}
    #shopify-section-{{ section.id }}.bb-team {
        padding-top: {{ ss.padding_top }}px;
        padding-bottom: {{ ss.padding_bottom }}px;
    }

    @media screen and (max-width: 750px) {
        #shopify-section-{{ section.id }}.bb-team {
            padding-top: {{ ss.padding_top_tablet }}px;
            padding-bottom: {{ ss.padding_bottom_tablet }}px;
        }
    }
{% endstyle %}

{% schema %}
    {
        "name": "BB - Team",
        "tag": "section",
        "class": "bb-team",
        "settings": [
             {
                "type": "header",
                "content": "Paddings - Desktop"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Padding top",
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 5,
                "default": 80
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Padding bottom",
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 5,
                "default": 80
            },
            {
                "type": "header",
                "content": "Paddings - Tablet"
            },
            {
                "type": "range",
                "id": "padding_top_tablet",
                "label": "Padding top",
                "unit": "px",
                "min": 0,
                "max": 60,
                "step": 5,
                "default": 40
            },
            {
                "type": "range",
                "id": "padding_bottom_tablet",
                "label": "Padding bottom",
                "unit": "px",
                "min": 0,
                "max": 60,
                "step": 5,
                "default": 40
            }
        ],
        "presets": [
            {
                "name": "BB - Team"
            }
        ]
    }
{% endschema %}
