{% assign ss = section.settings %}

<div class="product-recommendations__wrapper gradient no-js-hidden">
  <product-recommendations class="product-recommendations wrapper section-{{ section.id }}-padding isolate" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id=7898508067055&limit={{ ss.products_to_show }}">
    {% if recommendations.performed and recommendations.products_count > 0 %}
        <div class="heading-wrapper">
            <h2 class="product-recommendations__heading">{{ ss.heading | escape }}</h2>
            <button id="search-button">Browse all products</button>
        </div>
        <div class="swiper mySwiper">
        <ul class="swiper-wrapper">
          {% for recommendation in recommendations.products %}
            <li class="swiper-slide">
                {% render 'recharge-product',
                  card_product: recommendation,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_quick_add: true,
                  delivery_date: false
                %}
            </li>
          {% endfor %}
        </ul>
    {% endif %}
  </product-recommendations>
</div>

{% schema %}
{
  "name": "Recharge recommendations",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "Maximum products to show"
    },
    {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show second image on hover"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show product rating",
      "info": "To display a rating, add a product rating app."
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
    "presets": [
      {
          "name": "Recharge recommendations"
      }
  ]
}
{% endschema %}
